﻿@model Data_Base_Task.Models.Currency

@{
    ViewData["Title"] = "Details";
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        <h4>Валюта</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NameCurrency)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NameCurrency)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RateCurrency)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RateCurrency)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Get">Вернуться к списку</a>
    </div>
}
