﻿@using Data_Base_Task.ViewModels.CurrenciesViewModel
@model CurrenciesViewModel
@addTagHelper "*, Data_Base_Task"
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <h2>Список валют</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Currency.CurrencyID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency.NameCurrency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency.RateCurrency)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Currencies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameCurrency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RateCurrency)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CurrencyID">Подробно</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Get"></page-link>
}

